/* ! Main Style */
@media (min-width:1400px) {
  .container {
    max-width: 1000px;
  }
}

/* ! Root color */
:root {
  --lightblue: #f0f5f9;
}

/* ! Main font */
h1, h2, h3, h4, h5, h6,
p {
  font-family: 'Montserrat';
}

h1, h2 {
  font-weight: 800;
}

.c-pointer {
  cursor: pointer;
}

/* ! Text colors */
.text-dark-custom {
  color: #3a3a47 !important;
}

.text-grey-custom {
  color: #5c5c5c !important;
}

.text-light-grey-custom {
  color: #818198 !important;
}

.text-dark-blue-custom {
  color: #383b61 !important;
}

.text-blue-custom {
  color: #3498db !important;
}

.text-green-custom {
  color: #21bf73 !important;
}

/* ! Background colors */
.bg-primary-custom {
  background-color: #f0f5f9;
}

/* ! Buttoms */
.btn {
  padding: 0px 25px;
  line-height: 2.3;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
  justify-content: space-around;
}

.btn-blue-custom {
  border: 2px solid #3498db;
  color: #3498db;
}

.btn-blue-custom:hover {
  background-color: #3498db !important;
  color: #ffffff !important;
}

.btn-success-custom {
  border: 2px solid #21bf73;
  background-color: #21bf73;
  color: #ffffff;
}

.btn-success-custom:hover {
  background-color: #099150 !important;
  color: #ffffff !important;
}

.btn-success-outline-custom {
  border: 2px solid #3a3a47;
  color: #3a3a47;
}

.btn-success-outline-custom:hover {
  background-color: #21bf73 !important;
  color: #ffffff !important;
}


/* ! Form control custom */
.form-control-custom {
  outline: none;
  height: 45px;
  color: #222;
  border: 0;
  border-radius: 5px 0 0 5px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat';
  background-color: #F0F5F8;
}

/* ! Mixed classes */
.about_card-image, .results__card-image {
  width: 80px;
}

/* ! Navigation menu */
button.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus {
  box-shadow:none;
}

.navbar-brand {
  font-family: 'Montserrat';
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
}

/* ! Home */
.home {
  padding: 150px 0 100px 0;
}

img.home__image {
  width: 100%;
}

/* ! About */
.about_card-1 {
  background-color: #fff2e5;
}

.about_card-2 {
  background-color: #F8F9FA;
}

/* .about_card-3 {} */

h3.card-text  {
  font-size: 14px;
  font-weight: 700;
}

p.card-text  {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: normal;
}

/* ! Features */
.features__container {
  border-radius: 1rem;
}

.features__container h2 {
  font-size: 34px;
}

.features__container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

/* ! Results */

/* ! Reviews */
.reviews__container {
  padding: 100px 50px;
  border-radius: 1rem;
}

.reviews__container-text-two {
  font-size: 17px;
  font-weight: 500;
}

.reviews__container-text-one {
  font-size: 16px;
  font-weight: 500;
}

.reviews__quote-image {
  width: 60px;
}

.reviews__person-image {
  width: 60px;
  border-radius: 50%;
}

/* ! Pricing */
/* .pricing__card {} */

.pricing__card-image {
  width: 120px;
}

.pricing__text {
  max-width: 650px;
  font-size: 16px;
  font-weight: 500;
}

/* ! FAQ */
.faq__container {
  padding: 100px 50px;
  border-radius: 1rem;
}
.faq__container-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.faq__question {
  border-bottom: .5px solid #ccc;
}

.faq__question > button {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

.accordion-button:focus {
  border: var(--lightblue);
  box-shadow: var(--lightblue);
}

.accordion-button:not(.collapsed) {
  color: #212529;
  background-color: var(--lightblue);
  box-shadow: none;
}

/* ! Footer */
.footer__brand {
  letter-spacing: .5rem;
}

/* .footer__container {
  text-align: center;
  justify-content: space-around;
  text-align: center;
} */